.characters-remaining,
.characters-remaining * {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'SegoeUI', 'Segoe UI';
    display: block;
    font-size: 1rem;
    color: black;
    line-height: 1.5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0 !important;
}

.characters-remaining {
    border: 1px solid #00000000;
}

.characters-remaining:hover {
    border: 1px solid rgb(102, 102, 102);
}

.characters-remaining.active {
    border: 1px solid black;
}

.characters-remaining label,
.characters-remaining textarea {
    padding: 0.4rem 0.475rem;
    resize: none;
}

.characters-remaining textarea {
    font-weight: 600;
    border: 0;
}

.characters-remaining:hover textarea,
.characters-remaining textarea.active {
    font-weight: 400;
}

.characters-remaining .label-container {
    text-align: right;
    height: auto;
}

.characters-remaining label {
    font-weight: 400;
    color: grey;
    margin-left: auto;
    margin-right: 0;
    line-height: 1.2rem;
}

.characters-remaining .hidden {
    display: none;
}

.characters-remaining.error:hover,
.characters-remaining.error.active,
.characters-remaining.error:hover .wrapper,
.characters-remaining.error.active .wrapper {
    border: 1px solid rgb(234, 6, 0);
}

.characters-remaining .error {
    color: rgb(234, 6, 0);
    font-weight: 600;
}

.characters-remaining .wrapper {
    border: 1px solid #00000000;
}

.characters-remaining .input {
    white-space: nowrap;
}
.characters-remaining .input:not(.active) {
    text-overflow: ellipsis;
}

.characters-remaining .input::-webkit-scrollbar {
    display: none;
}

.characters-remaining hr {
    width: 99%; 
    margin: auto; 
    height: 1px;
    background-color: #ddd;
}

.wrapper.disabled:hover {
    background-color: rgb(226, 226, 226);
}

.wrapper.disabled:hover .characters-remaining {
    border: none !important;
    padding: 1px !important;
}
